body{
    margin: 50px 200px;
    background: orange;

}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 2.5em;

}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.4em;
}